.header {
  padding: 8px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  transition: opacity 300ms ease;

  .profile-popup-handler {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    img {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      margin-right: 10px;
    }
    svg {
      margin-left: 10px;
    }
  }
}
