.player {
  position: sticky;
  bottom: 0;
  height: 90px;
  width: 100%;

  &.hiding,
  &.showing {
    position: fixed;
    opacity: 0;
    pointer-events: none;
  }
  &.hidden {
    display: none;
  }
  transition: opacity 200ms ease;
  .player-content {
    background-color: #282828;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    box-sizing: border-box;
    height: 100%;

    & > * {
      flex-grow: 1;
      flex-basis: 0;
    }
    .current-track {
      display: flex;
      align-items: center;
      padding: 10px;
      box-sizing: border-box;

      img {
        max-width: 20%;
        max-height: 70px;
      }

      .info {
        margin-left: 10px;
        overflow: hidden;
        * {
          color: white;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .title {
          font-size: 12px;
          margin-top: 12px;
          margin-bottom: 8px;
        }
        .subtitle {
          font-size: 11px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #a1a1a1;
        }
      }
    }

    .controls {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 2;
      button {
        border: none;
        background: transparent;
        color: #b2b2b2;
        margin: 10px;
        padding: 5px;
        border-radius: 100%;
        cursor: pointer;
        width: 32px;
        height: 32px;
        outline: none;
        &:hover {
          color: white;
        }
        &.main {
          border: 1px solid #b2b2b2;
          &:hover {
            border: 1px solid white;
          }
          &:not(.playing) {
            padding-left: 8px;
          }
        }
      }
    }
  }
  .progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .time {
      margin: 0 10px;
      color: #b2b2b2;
      font-size: 12px;
    }
    .progress-line {
      flex-grow: 1;
      flex-basis: 0;
      background-color: #404040;
      height: 4px;
      border-radius: 2px;
      position: relative;
      .inner-line {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 10%;
        background-color: #b2b2b2;
        border-radius: 2px;
      }
    }
  }
}
