.profile-button-wrapper {
  position: relative;
  .handler-button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: color 200ms ease;
    &:focus {
      outline: none;
      * {
        color: #bababa;
      }
    }
  }
  .menu {
    position: fixed;
    background-color: #2c2c2c;
    width: 210px;
    right: 10px;
    top: 65px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease;
    padding: 0;
    margin: 0;
    box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    li {
      list-style: none;

      button {
        display: block;
        width: 100%;
        border: none;
        background-color: transparent;
        text-align: left;
        padding: 10px 0 10px 30px;
        cursor: pointer;
        color: #a1a1a1;
      }

      &:hover {
        background-color: #404040;
        button {
          color: white;
        }
      }
    }
    &.open {
      opacity: 1;
      pointer-events: all;
    }
  }
}
