body {
  background: linear-gradient(180deg, rgba(66, 66, 66, 1) 0%, #181818 10%, #181818 100%);
  margin: 0;
  * {
    font-family: Roboto, arial, sans-serif;
  }
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .content {
    flex-grow: 1;
    display: flex;
    .sidebar {
      width: 200px;
      display: flex;
      & > * {
        flex-grow: 1;
      }
    }
  }
  & > header {
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  // fonts
  .txt {
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1px;
    &.bold {
      font-weight: 500;
    }
  }

  // tiles
  .tiles {
    margin: 10px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    li {
      list-style: none;
      width: 100%;
      overflow: hidden;
      align-self: start;
      .tile {
        transition: transform 100ms ease;
        &:active {
          transform: scale(0.95);
        }
        &::after {
          content: ' ';
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-color: black;
          opacity: 0;
          transition: opacity 100ms ease;
        }
        &:active::after {
          opacity: 0.3;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .tiles {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  @media (min-width: 1350px) {
    .tiles {
      grid-template-columns: repeat(8, 1fr);
    }
  }
}

.page-wrapper {
  flex-grow: 1;
  flex-basis: 0;
  padding: 40px;
}

.page-title {
  color: white;
  margin: 20px 10px 50px;
}
