.playlist-view {
  table {
    margin-top: 50px;
    width: 100%;
    color: white;
    border-collapse: collapse;
    font-size: 12px;
    thead {
      tr {
        th {
          text-transform: uppercase;
          text-align: left;
          padding: 10px 0 5px 10px;
          font-weight: 100;
          border-bottom: 1px solid #282828;
          border-top: 1px solid #282828;
          font-size: 11px;

          &.action {
            width: 10px;
            padding-left: 16px;
          }
        }
      }
    }
    tbody {
      tr {
        &.active {
          color: #38DA61;

          .action svg {
            padding: 5px;
            color: white;
          }
        }
        &.disabled {
          color: gray;
        }
        &:hover {
          background-color: #404040;
          .action svg {
            opacity: 1;
          }
          .action .order {
            opacity: 0;
          }
        }
        td {
          border-bottom: 1px solid #282828;
          padding: 5px 0 5px 10px;
        }
        .action {
          position: relative;
          cursor: pointer;
        }
        .action {
          svg {
            opacity: 0;
            transition: opacity 100ms ease;
            border: 0.5px solid white;
            padding: 5px 4px 5px 6px;
            border-radius: 100%;
            width: 10px;
            height: 10px;
          }
          &:hover {
            svg {
            }
          }
        }
        .action .order {
          position: absolute;
          left: 16px;
          top: 8px;
          opacity: 1;
          transition: opacity 100ms ease;
        }
      }
    }
  }
}
