.playlist-header {
  color: white;
  display: flex;
  img {
    max-width: 220px;
    max-height: 220px;
  }
  .texts {
    padding: 50px 20px 0;
    .type {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 1.5px;
    }
    .title {
      font-size: 50px;
      font-weight: 900;
    }
    .description {
      font-size: 12px;
      margin-top: 15px;
      letter-spacing: 1.5px;
    }
  }
}
