.categories-page {
  .category-tile {
    position: relative;
    display: block;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding-bottom: 20%;
    text-decoration: none;
    font-size: 13px;
    &:hover {
      text-decoration: underline;
    }
    // trick making height equal to width
    &::before {
      content: ' ';
      display: block;
      width: 100%;
      padding-top: 70%;
    }
  }
}
