.search-input-wrapper {
  position: relative;
  svg {
    position: absolute;
    top: 5px;
    left: 10px;
  }
  .search-input {
    border: none;
    height: 30px;
    border-radius: 40px;
    padding: 0 20px 0 40px;
    background-color: #bababa;
    transition: background-color 200ms ease;
    &:focus {
      outline: none;
      background-color: white;
    }
    &::placeholder {
      color: black;
    }
  }
}
