.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  h1 {
    color: white;
  }
  .start-button {
    background-color: #1db954;
    border: none;
    color: white;
    padding: 20px 50px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 100ms ease;
    outline: none;
    &:hover {
      background-color: #38da61;
    }
    &:active {
      background-color: #1aa34a;
      color: #1DB954;
    }
  }
}
