.app-navigation {
  background-color: #121212;
  ul {
    padding: 0;
    position: sticky;
    top: 100px;
    li {
      list-style: none;
      padding: 10px 20px;
      a {
        transition: color 200ms ease;
        position: relative;
        color: #a1a1a1;
        &:before {
          position: absolute;
          width: 5px;
          height: 100%;
          left: -20px;
          background-color: #38DA61;
          content: ' ';
          opacity: 0;
          transition: opacity 400ms ease;
        }
      }
      a.active {
        color: white;
        &:before {
          opacity: 1;
        }
      }
      a:hover {
        color: white;
      }
    }
  }
}
