.playlist-tile {
  position: relative;
  display: block;
  background-size: cover;
  background-position: center;
  color: white;
  text-decoration: none;
  .thumbnail {
    position: relative;
    object-fit: cover;
    object-position: center;
    display: block;
    width: 100%;
  }
  &:hover {
    .thumbnail {
      filter: brightness(50%);
    }
  }
  .title {
    padding: 3px;
    .name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
    }
    .subtitle {
      color: #a1a1a1;
      font-size: 11px;
      margin-top: 3px;
      a {
        color: #a1a1a1;
        text-decoration: none;
      }
    }
  }
}
